### Import the necessary libraries.

In [0]:
import numpy as np
import pandas as pd

### Import the dataset from this address and assign it to a variable called baby_names.

In [0]:
baby_names=pd.read_csv("D:/Internship/Projects/baby_names.csv")

### See the first 10 entries

In [14]:
baby_names=baby_names.head(100)
baby_names

    Unnamed: 0  Unnamed: 0.1     Id       Name  Year Gender State  Count
0            0         11349  11350       Emma  2004      F    AK     62
1            1         11350  11351    Madison  2004      F    AK     48
2            2         11351  11352     Hannah  2004      F    AK     46
3            3         11352  11353      Grace  2004      F    AK     44
4            4         11353  11354      Emily  2004      F    AK     41
5            5         11354  11355    Abigail  2004      F    AK     37
6            6         11355  11356     Olivia  2004      F    AK     33
7            7         11356  11357   Isabella  2004      F    AK     30
8            8         11357  11358     Alyssa  2004      F    AK     29
9            9         11358  11359     Sophia  2004      F    AK     28
10          10         11359  11360     Alexis  2004      F    AK     27
11          11         11360  11361  Elizabeth  2004      F    AK     27
12          12         11361  11362     Hailey  2004      F    AK     27
13          13         11362  11363       Anna  2004      F    AK     26
14          14         11363  11364    Natalie  2004      F    AK     25
15          15         11364  11365      Sarah  2004      F    AK     25
16          16         11365  11366     Sydney  2004      F    AK     25
17          17         11366  11367        Ava  2004      F    AK     23
18          18         11367  11368    Trinity  2004      F    AK     22
19          19         11368  11369      Haley  2004      F    AK     21
20          20         11369  11370     Kaylee  2004      F    AK     21
21          21         11370  11371     Taylor  2004      F    AK     21
22          22         11371  11372      Chloe  2004      F    AK     20
23          23         11372  11373       Ella  2004      F    AK     20
24          24         11373  11374  Mackenzie  2004      F    AK     20
25          25         11374  11375     Sierra  2004      F    AK     19
26          26         11375  11376      Kayla  2004      F    AK     18
27          27         11376  11377   Samantha  2004      F    AK     18
28          28         11377  11378        Zoe  2004      F    AK     18
29          29         11378  11379    Jessica  2004      F    AK     17
..         ...           ...    ...        ...   ...    ...   ...    ...
70          70         11419  11420       Maya  2004      F    AK     12
71          71         11420  11421    Makayla  2004      F    AK     11
72          72         11421  11422      Maria  2004      F    AK     11
73          73         11422  11423       Mary  2004      F    AK     11
74          74         11423  11424   Michelle  2004      F    AK     11
75          75         11424  11425    Aaliyah  2004      F    AK     10
76          76         11425  11426      Amber  2004      F    AK     10
77          77         11426  11427   Angelina  2004      F    AK     10
78          78         11427  11428      Jenna  2004      F    AK     10
79          79         11428  11429    Katrina  2004      F    AK     10
80          80         11429  11430      Molly  2004      F    AK     10
81          81         11430  11431     Morgan  2004      F    AK     10
82          82         11431  11432     Amanda  2004      F    AK      9
83          83         11432  11433     Amelia  2004      F    AK      9
84          84         11433  11434  Catherine  2004      F    AK      9
85          85         11434  11435     Claire  2004      F    AK      9
86          86         11435  11436      Ellie  2004      F    AK      9
87          87         11436  11437       Erin  2004      F    AK      9
88          88         11437  11438        Eva  2004      F    AK      9
89          89         11438  11439      Katie  2004      F    AK      9
90          90         11439  11440      Kiara  2004      F    AK      9
91          91         11440  11441       Kyla  2004      F    AK      9
92          92         11441  11442    Lindsey  2004      F    AK      9
93          93         11442  11443     Aubrey  2004      F    AK      8
94          94         11443  11444  Charlotte  2004      F    AK      8
95          95         11444  11445  Christina  2004      F    AK      8
96          96         11445  11446      Clara  2004      F    AK      8
97          97         11446  11447    Delaney  2004      F    AK      8
98          98         11447  11448  Gabrielle  2004      F    AK      8
99          99         11448  11449    Heather  2004      F    AK      8

[100 rows x 8 columns]

### Delete the column 'Unnamed: 0' and 'Id'

In [0]:
baby_names=baby_names.loc[:,'Name':'Count']

In [16]:
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Is there more male or female names in the dataset?

In [17]:
pd.value_counts(baby_names['Gender'].values, sort=False)

F    100
dtype: int64

### Group the dataset by name and assign to names.

In [0]:
x=baby_names.groupby(['Name'])

### How many different names exist in the dataset?

In [19]:
x=pd.value_counts(baby_names['Name'].values)
x=x.reset_index()
x.tail(1)

   index  0
99  Erin  1

### What is the name with most occurrences?

In [20]:
x.max()

index    Zoe
0          1
dtype: object

### How many different names have the least occurrences?

In [21]:
x.min()

index    Aaliyah
0              1
dtype: object

### What is the median name occurrence?

In [22]:
baby_names.median()

Year     2004.0
Count      13.0
dtype: float64

### Get a summary with the mean, min, max, std and quantiles.

In [23]:
baby_names.mean()

Year     2004.00
Count      16.79
dtype: float64

In [24]:
baby_names.min()

Name      Aaliyah
Year         2004
Gender          F
State          AK
Count           8
dtype: object

In [25]:
baby_names.max()

Name       Zoe
Year      2004
Gender       F
State       AK
Count       62
dtype: object

In [26]:
baby_names.std()

Year     0.000000
Count    9.635053
dtype: float64

In [28]:
baby_names.quantile()

Year     2004.0
Count      13.0
Name: 0.5, dtype: float64

### What is the standard deviation of names?

In [30]:
baby_names.std()

Year     0.000000
Count    9.635053
dtype: float64